body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: rgb(243, 237, 237);
    margin: 0;
    padding: 20px;
    position: relative;
}


/* H2 er for måned navnet over dagene */
h2  {
    position: absolute;
    left: 52%;
    top: 22%;
    color: darkcyan;
    transform: translate(-50%, -50%);
}


nav a{
    margin: 20px;
}


.nav-btn{
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background: #ddd;   
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: background 0.3s;
}


.nav-btn:hover{
    background-color: #ccc;
}


.måneder{
    display: flex;
    width: 1000;
    margin-top: 20px;
    margin-left: 24%;
    margin-right: 20%;
    background: white;
    padding: 15px;
    padding-top: 70px;
    padding-right: 75px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.dager {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 10px; 
    max-width: 800px; 
    margin-left: auto; 
   
}


.dager span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 80px; 
    background: #f0f0f0;
    border-radius: 5px;
    font-size: 16px;
    margin: 0;
    padding: 0; 
    line-height: 1; 

}


.dager span.red {
    color: red; 
}


ul {
    display: flex;
    position: absolute;
    gap: 33%;
    padding-left: 60%;
    padding: 50;
    margin: 5%;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    grid-template-columns: repeat(7, 1fr);
    transform: translate(-50%,-50%);
}

.fillerDays {
    border:  3px grey;
    opacity: 0.3;
  }


#arrowForward {
    position: absolute;
    cursor: pointer;
    left: 80%;
    top: 47%;
    
}


#arrowBack {
    position: absolute;
    cursor: pointer;
    left: 17%;
    top: 47%;
    
    
}
/* Kode Martin starter her*/
/*Hover ved viktige dager*/
/*Sankthans*/
.blue:hover::after {
    content: "Sankthans";
    color: black;
    transform: translate(-9px);
}


.blue:hover {
    color: transparent;
    transform: scale(1.25);
}


.dager span.blue {
    background-color: lightblue;
    font-weight: bold; 
}


/*Bursdag*/
.dager span.birthday {
    background-color: green;
    font-weight: bold; 
}


#birthday4:hover::after {
    content: "Bursdag Jens";
    color: black;
    transform: translate(-7px);
}


#birthday3:hover::after {
    content: "Bursdag Jonas";
    color: black;
    transform: translate(-7px);
}


#birthday2:hover::after {
    content: "Bursdag Martin";
    color: black;
    transform: translate(-7px);
}


#birthday1:hover::after {
    content: "Bursdag Andreas";
    color: black;
    transform: translate(-7px);
}


.birthday:hover {
    color: transparent;
    transform: scale(1.25);
}


/*Jul*/
.dager span.christmas {
    background-color:red;
    font-weight: bold; 
}
/*Ikke kode fra Martin*/


#btn-theme-januar:hover {
    transform: scale(1.4);
    transition: ease-in 350ms, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/2025.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -7px;

}


#btn-theme-juni:hover{
    transform: scale(1.4);
    transition: ease .5s, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/sommer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -12px;
}


#btn-theme-august:hover {
    transform: scale(1.4);
    transition: ease 350ms, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/backtoschool.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -3px;

}


#btn-theme-oktober:hover{
    transform: scale(1.4);
    transition: ease .5s, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -12px;
    
}


#btn-theme-november:hover {
    transform: scale(1.4);
    transition: ease 350ms, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/moustache.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -12px;

}


#btn-theme-desember:hover {
    transform: scale(1.4);
    transition: ease 350ms, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/stockings.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -12px;

}


/*Kode fra Martin*/
/*Hover ved navn på månedene*/
#btn-theme-februar:hover{
    transform: scale(1.4);
    transition: ease .5s, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/hearts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -12px;
}


#btn-theme-mars:hover{
    transform: scale(1.4);
    transition: ease .5s, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/stp1.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -12px;


}#btn-theme-juli:hover{
    transform: scale(1.4);
    transition: ease .5s, color 50ms ease-in;
    color: transparent;
    background: url("/Bilder/julitheme.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -12px;
}


.halloween:hover::after{
    content: "Halloween";
    color: black;
    transform: translate(-9px);
}


.halloween:hover{
    color: transparent;
    transform: scale(1.25);
}


.christmas:hover::after {
    content: "Julaften";
    color: black;
    transform: translate(-9px);
}


.christmas:hover {
    color: transparent;
    transform: scale(1.25);
}


/*Valentines*/
.valentines:hover::after {
    content: "Valentines";
    color: black;
    transform: translate(-9px);
}


.valentines:hover {
    color: transparent;
    transform: scale(1.25);
}


.dager span.valentines {
    background-color: pink;
    font-weight: bold;
}


.dager span.halloween {
    background-color: orange;
}


/*Påske*/
.dager span.easter {
    background-color: yellow;
    font-weight: bold; 
}


.easter:hover {
    color: transparent;
    transform: scale(1.25);
}


#easter1:hover::after {
    content: "Skjærtorsdag";
    color: black;
    transform: translate(-9px);
}


#easter2:hover::after {
    content: "Langfredag";
    color: black;
    transform: translate(-9px);
}


#easter3:hover::after {
    content: "1. påskedag";
    color: black;
    transform: translate(-9px);
}


#easter4:hover::after {
    content: "2. påskedag";
    color: black;
    transform: translate(-9px);
}


/*St. Patricks dag*/
.stP:hover::after {
    content: "St. Patricks Dag";
    color: black;
    transform: translate(-9px);
}


.stP:hover {
    color: transparent;
    transform: scale(1.25);
}


.dager span.stP {
    background-color:chartreuse;
    font-weight: bold; 
}


