#novemberBody {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


.containerMoustache {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.moustache {
    position: fixed;
    top: -10%;
    height: 7%;
    width: 7%;
    background-image: url("/Bilder/moustache.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: moustacheRain linear infinite;
}


@keyframes moustacheRain {
  0% {
      transform: translateY(-100%);
      
  }
  100% {
      transform: translateY(100vh);
      

  }
}


.moustache:nth-child(1) {
  left: 15%;
  animation-duration: 7s;
  animation-delay: 0s;
  z-index: -1;
}


.moustache:nth-child(2) {
  left: 30%;
  animation-duration: 6s;
  animation-delay: 1s;
  z-index: -1;
}


.moustache:nth-child(3) {
  left: 45%;
  animation-duration: 8s;
  animation-delay: 2s;
  z-index: -1;
}


.moustache:nth-child(4) {
  left: 60%;
  animation-duration: 5s;
  animation-delay: 3s;
  z-index: -1;
}


.moustache:nth-child(5) {
  left: 75%;
  animation-duration: 9s;
  animation-delay: 4s;
  z-index: -1;
}


.moustache:nth-child(6) {
  left: 10%;
  animation-duration: 8s;
  animation-delay: 3s;
  z-index: -1;
}


.moustache:nth-child(7) {
  left: 32%;
  animation-duration: 9s;
  animation-delay: 2s;
  z-index: -1;
}


.moustache:nth-child(8) {
  left: 90%;
  animation-duration: 6s;
  animation-delay: 1s;
  z-index: -1;
}


#moustacheTiny1 {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  top: 24%;
  left: 46%;
}

#moustacheTiny2 {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  top: 24%;
  left: 58%;

}