 html {
  margin: 0;
  background-color: black;
  height: 90vh;
  width: 100%;
  background-image: url("/Bilder/bakgrunn.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }



 #menuButton {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: green;
    background-color: ;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    opacity: 1;
    font-size: x-large;
    font-weight: bold;
    transform: translate(-50%, -50%)
    
    
  
  }


  @keyframes
