.Santa {
    position: absolute;
    top: 10px; /* Adjust to place Santa properly */
    left: -100px; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for proper centering */
    width: 200px; /* Resize if necessary */
    z-index: 10; /* Ensure it's on top */
    animation: moveSanta 10s linear;
}

@keyframes moveSanta{
    0%{
        left: -100px;
    }
    100%{
        left: 130%;
    }
}