/*Denne koden ble inspirert fra forelesning*/
body {
    background-color: lightblue;
}


@keyframes sunMovement {
    0% {
        top: 50%;
    }
    50% {
        top: 2%;
        background-color: rgb(255, 213, 2);
    }
    100% {
        top: 60%;
        background-color: orangered;
        left: 100%;
    }
}

.sun {
    position: absolute;
    top: 30%;
    left: -10%;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: rgb(255, 213, 2);
    animation-name: sunMovement;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: -2;
    filter: blur(2px);
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

.strand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: rgb(255, 206, 164);
    z-index: -1;

}

/*Kode Martin starter her*/

/*Sand buggy*/
#buggy {
    position: absolute;
    height: 80px;
    z-index: -1;
    animation: drive 20s infinite;
}


/*Animasjon for sand buggy*/
@keyframes drive {
    0% {
        left: 50px;
        top: 650px;
        transform: scaleX(1);
    }
    5% {
        left: 150px;
        top: 680px;
        transform: rotate(360deg) scaleX(1);
    }
    25% {
        left: 512px;
        top: 600px;
        transform: scaleX(1);
    }
    35% {
        left: 500px;
        top: 700px;
        transform: scaleX(1);
    }
    40% {
        left: 500px;
        top: 700px;
        transform: scaleX(1);
    }
    50% {
        left: 500px;
        top: 650px;
        transform: scaleX(1);
    }
    90% {
        left: 90%; 
        top: 650px;
        transform: scaleX(1);
    }
    91% {
        transform: scaleX(-1);
    }
    100% {
        left: 50px;
        top: 650px;
        transform: scaleX(-1);
    }
}


/*Kode Martin slutter her*/


/* Andreas kode start */
#book {
    position: absolute;
    top: 24%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 40px; 
    height: 40px; 
    z-index: 10;
    animation: erased ease-out 1s 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


#eraser {
    position: absolute;
    top: 24%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 40px; 
    height: 40px; 
    z-index: 10;
    cursor: pointer;
    animation: erase ease-in-out 5s;
    animation-play-state: paused;
}


#animationToggleEraser {
    position: absolute;
    cursor: pointer;
    left: 74.25%;
    top: 21%;
    z-index: 11;
    height: 5%;
    width: 5%;
    opacity: 0;
}


#animationToggleEraser:checked ~ #eraser, 
#animationToggleEraser:checked ~ #book {
    animation-play-state: running;
}


#animationToggleEraser:not(:checked) ~ #eraser {
    animation: none;
}


@keyframes erase {
    0% {
        left: 77%;
    }
    20% {
        left: 56%
    }
    30% {
        top: 26%;
    }
    35% {
        top: 24%;
    }
    40% {
        top: 26%;
    }
    45% {
        top: 24%;
    }
    50% {
        top: 26%;
    }

    100% {  
        left: 56%;
    }
    
}


@keyframes erased {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}
/* Andreas kode slutt */


@keyframes sunMovement {
    0% {
        top: 50%;
    }
    50% {
        top: 2%;
        background-color: rgb(255, 213, 2);
    }
    100% {
        top: 60%;
        background-color: orangered;
        left: 100%;
    }
}


.sun {
    position: absolute;
    top: 30%;
    left: -10%;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: rgb(255, 213, 2);
    animation-name: sunMovement;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: -2;
    filter: blur(2px);
    animation-iteration-count: infinite;
    animation-delay: 5s;
}


.strand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: rgb(255, 206, 164);
    z-index: -1;

}


/*Juni laget av jonas (legger til et bål)*/
.Fire {
    position: absolute;
    width: 400px;
    height: 400px; 
    z-index: 10;
    left: 0%;
    top: 50%;
    opacity: 0; 
    border-radius: 50%;
    transition: opacity 0.5s ease; 
}

#animationToggle {
    position: absolute;
    cursor: pointer;
    left: 25%;
    top: 76%;
    z-index: 4;
    height: 7%;
    width: 7%;
    opacity: 0;
}

#animationToggle:checked ~ .Fire {
    opacity: 1;
}