/*laget av jonas*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(Bilder/vinterCabin.jpg);  /* Bildet er hentet fra Google */
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

/*posisjonen av snø og størelsen av partiklene*/
section{
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


/*første lag med snø*/
.snow1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Bilder/pngeggsnow.png);/* Bildet er hentet fra Google */
    background-size: 800px; 
    z-index: -1;
    animation: snowfall1 1000s linear infinite;
    filter: blur(0.5px);
}


/*andre lag med snø*/
.snow2 {
    position: fixed;
    padding-left: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Bilder/pngeggsnow.png); /* Bildet er hentet fra Google */
    background-size: 700px;
    z-index: -2;
    animation: snowfall2 1000s linear infinite;
    filter: blur(1px);
}


/*Bevegelsen av snøen*/
@keyframes snowfall1 {
    0% { background-position: -10000px 0px; }
    100% { background-position: 0px 20000px; }
}


@keyframes snowfall2 {
    0% { background-position: -15010px 10px; }
    100% { background-position: 100px 20000px; }
}

/* Mistletoe - Laget av Andreas Skogly*/
#mistleToe1 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 21.7%;
    height: 100px;
    width: 100px;
    animation: mistletoe 1s ease-in-out infinite;
    animation-play-state: paused;
}


#mistleToe2 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 75.6%;
    height: 100px;
    width: 100px;
    animation: mistletoe 1s ease-in-out infinite;
    animation-play-state: paused;
}


#mistleToe1:hover, #mistleToe2:hover {
    animation-play-state: running;
}

/*mistletoe vigler*/
@keyframes mistletoe {
    0%{transform:rotate(-5deg)}
    50%{transform:rotate(3deg)}
    100%{transform:rotate(-5deg)}
}


/*la til Nisse, Jonas*/
.Santa {
    position: absolute;
    top: 10px; 
    left: -100px; 
    transform: translateX(-50%); 
    width: 200px; 
    z-index: 10; 
    animation: moveSanta 10s linear;
    animation-play-state: paused;
}


/*checkboxs til animasjon*/
#animationToggle {
    position: absolute;
    cursor: pointer;
    left: 38.8%;
    top: 63%;
    z-index: 4;
    height: 10%;
    width: 10%;
    opacity: 0;
}


/*selve animasjonen*/
#animationToggle:checked ~ .Santa {
    animation-play-state: running;
}


/* Når checkbox ikke er aktivert, så nullstiller animasjonen seg - Andreas Skogly */
#animationToggle:not(:checked) ~ .Santa { 
    animation: none;
}


@keyframes moveSanta{
    0%{
        left: -100px;
    }
    100%{
        left: 130%;
    }
}


/* Kode for Januar raketter - laget av Andreas Skogly */
#animationToggleRocket {
    position: absolute;
    cursor: pointer;
    left: 40.8%;
    top: 29.2%;
    z-index: 4;
    height: 10%;
    width: 5%;
    opacity: 0;
}


/* Når checkbox er aktivert, så starter animasjon til rakett */
#animationToggleRocket:checked ~ #fireworkRocket,
#animationToggleRocket:checked ~ #fireworkRocket2,
#animationToggleRocket:checked ~ #fireworkRocket3,
#animationToggleRocket:checked ~ #fireworkEksplosjon, 
#animationToggleRocket:checked ~ #fireworkEksplosjon2, 
#animationToggleRocket:checked ~ #fireworkEksplosjon {
    animation-play-state: running;
}


/* Når checkbox ikke er aktivert, så nullstiller animasjonen seg */
#animationToggleRocket:not(:checked) ~ #fireworkRocket,
#animationToggleRocket:not(:checked) ~ #fireworkRocket2,
#animationToggleRocket:not(:checked) ~ #fireworkRocket3, 
#animationToggleRocket:not(:checked) ~ #fireworkEksplosjon, 
#animationToggleRocket:not(:checked) ~ #fireworkEksplosjon2, 
#animationToggleRocket:not(:checked) ~ #fireworkEksplosjon3 {
    animation: none;
}


#fireworkRocket {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    top: 120%;
    left: 53%;
    z-index: 1;
    opacity: 0;
    animation: rakettAnimasjon linear 1s ;
    animation-play-state: paused;
}


#fireworkRocket2 {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    top: 120%;
    left: 35%;
    z-index: 1;
    opacity: 0;
    animation: rakettAnimasjon2 linear 1s ;
    animation-play-state: paused;
}


#fireworkRocket3 {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    top: 120%;
    left: 70%;
    z-index: 1;
    opacity: 0;
    animation: rakettAnimasjon3 linear 1s ;
    animation-play-state: paused;
}


.JanuarBody {
    background: url("Bilder/newyearsbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#JanuarH1 {
    color: yellow;
}


#fireworkButton {
    background: black;
}


#fireworkEksplosjon {
    position: absolute;
    top: 32%;
    left: 34%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: rakettEksplosjon ease-out 3s 0.9s;
    z-index: 2;
}


#fireworkEksplosjon2 {
    position: absolute;
    top: 32%;
    left: 52%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: rakettEksplosjon2 ease-out 3s 0.9s;
    z-index: 2;
}


#fireworkEksplosjon3 {
    position: absolute;
    top: 32%;
    left: 70%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: rakettEksplosjon3 ease-out 3s 0.9s;
    z-index: 2;
}


@keyframes rakettAnimasjon {
    0% {
        opacity: 1;
        top: 110%;
        left: 53%;
    }

    10% {
        top: 90%;
        left: 54%;
    }

    20% {
        top: 80%;
        left: 53%;
    }

    50% {
        top: 70%; 
        left: 54%;
    }


    60% {
        top: 60%;
        left: 53%;
    }

    80% {
        top: 50%;
        left: 54%;
   }

   100% {
        top: 40%;
        left: 53%;
   }

   
}


@keyframes rakettAnimasjon2 {
    0% {
        opacity: 1;
        top: 110%;
        left: 35%;
    }

    10% {
        top: 90%;
        left: 34%;
    }

    20% {
        top: 80%;
        left: 35%;
    }

    50% {
        top: 70%; 
        left: 34%;
    }


    60% {
        top: 60%;
        left: 35%;
    }

    80% {
        top: 50%;
        left: 34%;
   }

   100% {
        top: 40%;
        left: 35%;
   }

   
}


@keyframes rakettAnimasjon3 {
    0% {
        opacity: 1;
        top: 110%;
        left: 71%;
    }

    10% {
        top: 90%;
        left: 70%;
    }

    20% {
        top: 80%;
        left: 71%;
    }

    50% {
        top: 70%; 
        left: 70%;
    }


    60% {
        top: 60%;
        left: 71%;
    }

    80% {
        top: 50%;
        left: 70%;
   }

   100% {
        top: 40%;
        left: 71%;
   }

   
}


@keyframes rakettEksplosjon {
    0% {
        opacity: 1;
        left: 34%;
    }

    
    100% {
        left: 34%;
      
    }
}


@keyframes rakettEksplosjon2 {
    0% {
        opacity: 1;
        left: 52%;
    }

    
    100% {
        left: 52%;
      
    }
}


@keyframes rakettEksplosjon3 {
    0% {
        opacity: 1;
        left: 70%;
    }

    
    100% {
        left: 70%;
      
    }
}
/* Kode Andreas Skogly slutt */


/*Kode Martin starter her*/
/*Valentines*/

/*Hover for 14 februar/valentines*/
.valentines:hover::after {
    content: "Valentines";
    color: black;
    transform: translate(-9px);
}


/*Eksisterende content for 14 februar blir borte ved hover*/
.valentines:hover {
    color: transparent;
    transform: scale(1.25);
}


/*Gir 14 feb rosa bakgrunn*/
.dager span.valentines {
    background-color: pink;
    font-weight: bold;
}


/*Setter bakgrunn for februar*/
#valentinesBack {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}


/*Lager et pumpende hjerte*/
#heartPump {
    position: absolute;
    top: 110px;
    left: 125px;
    height: 200px;
    animation: heartPump 1.5s infinite;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/*Animasjon for pumpende hjerte*/
@keyframes heartPump {
    0% {height: 150px;}
    35% {height: 150px;}
    45% {height: 150px;}
    60% {height: 200px;}
    66% {height: 150px;}
}


/*Kode Martin slutter her*/