body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(/Bilder/vinterCabin.jpg);
    background-repeat: no-repeat;
    background-position: -20px -300x;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

section{
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}




.snow1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/Bilder/pngeggsnow.png);
    background-size: 800px; /* Adjust snowflake size */
    z-index: -1;
    animation: snowfall1 1000s linear infinite;
    filter: blur(0.5px);
}

.snow2 {
    position: fixed;
    padding-left: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/Bilder/pngeggsnow.png);
    background-size: 700px; /* Larger snowflakes */
    z-index: -2;
    animation: snowfall2 1000s linear infinite;
    filter: blur(1px);
}

@keyframes snowfall1 {
    0% { background-position: -10000px 0px; }
    100% { background-position: 0px 20000px; }
}

@keyframes snowfall2 {
    0% { background-position: -15010px 10px; }
    100% { background-position: 100px 20000px; }
}



/* Mistletoe */
#mistleToe1 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 21.7%;
    height: 100px;
    width: 100px;
    animation: mistletoe 1s ease-in-out infinite;
    animation-play-state: paused;

}

#mistleToe2 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 75.6%;
    height: 100px;
    width: 100px;
    animation: mistletoe 1s ease-in-out infinite;
    animation-play-state: paused;
}

#mistleToe1:hover, #mistleToe2:hover {
    animation-play-state: running;
}

@keyframes mistletoe {
    0%{transform:rotate(-5deg)}
    50%{transform:rotate(3deg)}
    100%{transform:rotate(-5deg)}
}



.Santa {
    position: absolute;
    top: 10px; 
    left: -100px; 
    transform: translateX(-50%); 
    width: 200px; 
    z-index: 10; 
    animation: moveSanta 10s linear;
    animation-play-state: paused;
}



#animationToggle {
    position: absolute;
    cursor: pointer;
    left: 38.8%;
    top: 66%;
    z-index: 4;
    height: 10%;
    width: 10%;
    opacity: 0;

}


#animationToggle:checked ~ .Santa {
    animation-play-state: running;
}

@keyframes moveSanta{
    0%{
        left: -100px;
    }
    100%{
        left: 130%;
    }
}


