body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, skyblue, lightblue);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blomster {
    position: fixed;
    top: -10%;
    height: 7%;
    width: 7%;
    background-image: url(/Bilder/blomster.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear infinite;
    
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        
    }
    100% {
        transform: translateY(100vh);
        

    }
}

.blomster:nth-child(1) {
    left: 15%;
    animation-duration: 7s;
    animation-delay: 0s;
    
}

.blomster:nth-child(2) {
    left: 30%;
    animation-duration: 6s;
    animation-delay: 1s;
    
}

.blomster:nth-child(3) {
    left: 45%;
    animation-duration: 8s;
    animation-delay: 2s;
    
}

.blomster:nth-child(4) {
    left: 60%;
    animation-duration: 5s;
    animation-delay: 3s;
    
}

.blomster:nth-child(5) {
    left: 75%;
    animation-duration: 9s;
    animation-delay: 4s;
    
}

#Kylling1 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 21.7%;
    height: 75px;
    width: 75px;
    animation: Kylling-flip 1s ease-in-out infinite;
    animation-play-state: paused;

}

#Kylling2 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 75.6%;
    height: 75px;
    width: 75px;
    animation: Kylling 1s ease-in-out infinite;
    animation-play-state: paused;
   
}

#Kylling1:hover, #Kylling2:hover {
    animation-play-state: running;
}

@keyframes Kylling {
    0%{transform:rotate(-5deg)}
    50%{transform:rotate(3deg)}
    100%{transform:rotate(-5deg)}
}

@keyframes Kylling-flip {
    0%{transform:scaleX(-1) rotate(-5deg)}
    50%{transform:scaleX(-1) rotate(3deg)}
    100%{transform:scaleX(-1) rotate(-5deg)}
}

.iskrem {
    position: fixed;
    top: -10%;
    height: 7%;
    width: 7%;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear infinite;
    
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        
    }
    100% {
        transform: translateY(100vh);
        

    }
}

.iskrem:nth-child(1) {
    left: 15%;
    animation-duration: 7s;
    animation-delay: 0s;
    
}

.iskrem:nth-child(2) {
    left: 30%;
    animation-duration: 6s;
    animation-delay: 1s;
    
}

.iskrem:nth-child(3) {
    left: 45%;
    animation-duration: 8s;
    animation-delay: 2s;
    
}

.iskrem:nth-child(4) {
    left: 60%;
    animation-duration: 5s;
    animation-delay: 3s;
    
}

.iskrem:nth-child(5) {
    left: 75%;
    animation-duration: 9s;
    animation-delay: 4s;
    
}

#Flagg1 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 23%;
    height: 75px;
    width: 75px;
    animation: Flagg 1s ease-in-out infinite;
    animation-play-state: paused;

}

#Flagg2 {
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 75.6%;
    height: 75px;
    width: 75px;
    animation: Flagg 1s ease-in-out infinite;
    animation-play-state: paused;
   
}

#Flagg1:hover, #Flagg2:hover {
    animation-play-state: running;
}

@keyframes Flagg {
    0%{transform:rotate(-5deg)}
    50%{transform:rotate(3deg)}
    100%{transform:rotate(-5deg)}
}


/*Kode Martin starter her*/
#rainbow {
    top: 15px;
    left: 420px;
    position: absolute;
    width: 1200px;
    z-index: -1;
    animation: visibleRainbow 3s infinite;
}

@keyframes visibleRainbow {
    0% {opacity: 0.9;}
    50% {opacity: 0.3;}
    100% {opacity: 0.9;}
}

#stPbackground {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -2;
}
/*Kode Martin slutter her*/