 html {
  margin: 0;
  background-color: black;
  height: 90vh;
  width: 100%;
  background-image: url("bakgrunn.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }



 #menuButton {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 43.5%;
    top: 50%;
    color: green;
    cursor: pointer;
    opacity: 0.9;
    font-size: x-large;
    transform: translate(-50%, -50%)
    
  
  }
